.display-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.hotel-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}